# ============================================================
# default provider
# ============================================================
PAYMENTS_DEFAULT_PROVIDER=stripe

# ============================================================
# stripe
# ============================================================
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# ============================================================
# square
# ============================================================
SQUARE_ENVIRONMENT=sandbox
SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=

# ============================================================
# adyen
# ============================================================
ADYEN_ENVIRONMENT=test
ADYEN_API_KEY=
ADYEN_MERCHANT_ACCOUNT=
NEXT_PUBLIC_ADYEN_CLIENT_KEY=
